#data-------------------------------
opencv-python
numpy
pandas
scikit-learn
tensorflow[and-cuda]


#model-----------------------------------
keras-layer-normalization
keras

#train----------------------------------
keras-notify

#predict--------------------------------
tqdm

#deploy--------------------------------
flask
pybase64